<launch>
	<param name="robot_description" textfile="$(find drivebase)/urdf/test_model.xml"/>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
		<param name="publish_frequency" value="1.0"/>
		<param name="tf_prefix" type="string" value=""/>
	</node>
        <node name="drive_node" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyACM0">
		<param name="baud" value="57600"/>
	</node>
        <node name="light_node" pkg="rosserial_python" type="serial_node.py" args="/dev/ttyUSB0">
		<param name="baud" value="57600"/>
	</node>
	<node name="neato_laser" pkg="xv_11_laser_driver" type="neato_laser_publisher">
		<param name="port" value="/dev/sensors/laser"/>
		<param name="firmware_version" value="2"/>
		<param name="baud_rate" value="115200"/>
	</node>
	<node name="joy_ride" pkg="drivebase" type="joy_ride.py">
		<!-- change to /cmd_vel_raw to enable obstacle avoidance -->
		<param name="cmd" value="/cmd_vel"/>
	</node>
	<node name="obs_avoid" pkg="drivebase" type="obs_avoid.py"/>
	<node name="joy_node" pkg="joy" type="joy_node"/>
</launch>

